.resource-page {
  .resource-page-title {
    font-size: 20px;
    margin-bottom: 16px;
  }

  .resource-page-tree {
    margin-top: 16px;
    min-height: 500px;
    border: 1px dashed #ccc;
    border-radius: 8px;
    padding: 20px;
  }
}
