.role-page {
  .role-page-title {
    font-size: 20px;
    margin-bottom: 16px;
  }

  .role-page-content {
    height: calc(100vh - 200px);
    overflow-y: auto;
    display: flex;
  }
}
