body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

#root {
  width: 100%;
  height: 100%;
}

:root {
  --primary: rgb(30, 144, 255);
  --success: rgb(46, 213, 115);
  --warning: rgb(255, 165, 2);
  --error: rgb(255, 71, 87);
}
